html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a,
list-reset {
  color: inherit;
  text-decoration: none;
}

/* Шрифты */
@font-face {
  font-family: "Open Sans";
  src: local(OpenSansRegular),
    url("../fonts/OpenSansRegular.woff2") format("woff2"),
    url("../fonts/OpenSansRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local(OpenSansSemiBold),
    url("../fonts/OpenSansSemiBold.woff2") format("woff2"),
    url("../fonts/OpenSansSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local(OpenSansBold), url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Переменные */
:root {
  --white-color: #ffffff;
  --white-medium-color: #ececec;
  --white-dark-color: #cacaca;
  --red-color: #d11616;
  --blue-color: #26a5e4;
  --green-color: #30bf39;
  --violet-color: #7943a4;
  --violet-dark-color: #9d5cd0;
  --violet-medium-color: #c283f3;
  --violet-light-color: #d1a9f0;
  --grey-color: #999999;
  --grey-dark-color: #666666;
  --black-color: #000000;
  --black-light-color: #333333;
  --background-color-submenu: rgba(0, 0, 0, 0.5);
  --background-color-select: rgba(255, 255, 255, 0.2);
  --border-color-input: rgba(255, 255, 255, 0.85);
}

/* Глобально */
body {
  min-width: 320px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: var(--white-color);
}

button::-moz-focus-inner {
  border: 0;
}

/* А-ля миксины */
.container {
  margin: 0 auto;
  padding: 0 159px 0 160px;
  max-width: 1920px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--white-color);
  cursor: pointer;
}

.section-title {
  margin: 0;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
}

.main-title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--black-light-color);
}

/* Header */
/* Меню */
.header {
  position: relative;
  z-index: 200;
}

.menu {
  background-color: var(--black-color);
}

.menu__container {
  display: flex;
  padding-top: 30px;
  padding-bottom: 27px;
}

.logo {
  margin-right: 179px;
  transition: outline 0.2s;
}

.logo:focus {
  outline-offset: 3px;
  outline: 1px solid var(--violet-color);
}

.menu__list {
  display: flex;
  width: 47.2%;
  justify-content: space-between;
}

.menu__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 38px;
  transition: color 0.2s, background-color 0.2s;
}

.menu__link:focus {
  outline: none;
  background-color: var(--violet-color);
}

.menu__link:hover:not(:focus) {
  color: var(--violet-medium-color);
}

.menu__link:active {
  color: var(--violet-color);
  background-color: inherit;
}

.menu__enter {
  margin-left: auto;
}

.menu__enter-icon {
  transition: background-color 0.2s;
}

.menu__enter-icon span {
  margin-left: 3px;
  font-weight: 400;
  font-size: 18px;
  line-height: 38px;
  transition: color 0.2s;
}

.menu__enter-icon svg path {
  transition: fill 0.2s;
}

.menu__enter:focus {
  outline: none;
}

.menu__enter:focus .menu__enter-icon {
  background-color: var(--violet-color);
}

.menu__enter:hover:not(:focus) .menu__enter-icon span {
  color: var(--violet-medium-color);
}

.menu__enter:hover:not(:focus) .menu__enter-icon svg path {
  fill: var(--violet-medium-color);
}

.menu__enter:active .menu__enter-icon span {
  color: var(--violet-color);
}

.menu__enter:active .menu__enter-icon {
  background-color: inherit;
}

.menu__enter:active .menu__enter-icon svg path {
  fill: var(--violet-color);
}

/* Подменю */
.submenu {
  background-color: var(--background-color-submenu);
}

.submenu__container {
  display: flex;
  justify-content: space-between;
  padding-top: 23px;
  padding-bottom: 20px;
}

.submenu__list {
  display: flex;
  justify-content: space-between;
  width: 64.5%;
}

.submenu__item {
  position: relative;
}

.select-open {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--white-color);
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
}

.select-open svg {
  margin-left: -3px;
  transition: transform 0.2s;
}

.select-open svg path {
  transition: stroke 0.2s;
}

.select-open:focus {
  outline: none;
  background-color: var(--violet-color);
}

.select-open:hover:not(:focus) {
  font-size: 18px;
  line-height: 25px;
  color: var(--violet-dark-color);
}

.select-open:hover:not(:focus) svg path {
  stroke: var(--violet-dark-color);
}

.select-open:active {
  color: var(--violet-color);
  background-color: inherit;
}

.select-open:active svg path {
  stroke: var(--violet-color);
}

.select-open:active svg {
  transform: rotate(180deg);
}

/* Select dropdown */
.submenu__drop,
.submenu__drop-2,
.submenu__drop-3,
.submenu__drop-4,
.submenu__drop-5 {
  position: absolute;
  top: 47px;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.submenu__drop--active,
.submenu__drop-2--active,
.submenu__drop-3--active,
.submenu__drop-4--active,
.submenu__drop-5--active {
  opacity: 1;
  visibility: visible;
}

.select-dropdown {
  width: 300px;
  height: 300px;
  padding: 40px;
  background-color: var(--background-color-submenu);
}

.select-dropdown__item:not(:last-child) {
  margin-bottom: 20px;
}

.select-dropdown__link {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--white-color);
  border: 2px solid transparent;
  transition: border 0.2s;
}

.select-dropdown__link:hover,
.select-dropdown__link:focus {
  border: 2px solid var(--violet-dark-color);
}

.select-dropdown__link:focus {
  outline: none;
}

.select-dropdown-image {
  padding: 9px 50px 9px 13px;
  width: 220px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 0.2s;
}

.select-dropdown-image--1 {
  background-image: url("../img/tintoretto.png");
}

.select-dropdown-image--1:active {
  background-image: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/tintoretto.png");
}

.select-dropdown-image--2 {
  background-image: url("../img/friedrich.png");
}

.select-dropdown-image--2:active {
  background-image: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/friedrich.png");
}

.select-dropdown-image--3 {
  background-image: url("../img/leonardo.png");
}

.select-dropdown-image--3:active {
  background-image: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/leonardo.png");
}

.select-dropdown-image--4 {
  background-image: url("../img/verrokkyo.png");
}

.select-dropdown-image--4:active {
  background-image: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/verrokkyo.png");
}

.select-dropdown-image--5 {
  background-image: url("../img/mone.png");
}

.select-dropdown-image--5:active {
  background-image: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/mone.png");
}

.select-dropdown-image--6 {
  background-image: url("../img/sisley.png");
}

.select-dropdown-image--6:active {
  background-image: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/sisley.png");
}

.select-dropdown-image--7 {
  background-image: url("../img/mane.png");
}

.select-dropdown-image--7:active {
  background-image: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/mane.png");
}

.select-dropdown-image--8 {
  background-image: url("../img/renuar.png");
}

.select-dropdown-image--8:active {
  background-image: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/renuar.png");
}

.select-dropdown-image--9 {
  background-image: url("../img/vangog.png");
}

.select-dropdown-image--9:active {
  background-image: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/vangog.png");
}

.select-dropdown-image--10 {
  background-image: url("../img/sezann.png");
}

.select-dropdown-image--10:active {
  background-image: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/sezann.png");
}

.select-dropdown-image--11 {
  background-image: url("../img/gogen.png");
}

.select-dropdown-image--11:active {
  background-image: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/gogen.png");
}

.select-dropdown-image--12 {
  background-image: url("../img/sora.png");
}

.select-dropdown-image--12:active {
  background-image: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/sora.png");
}

.select-dropdown-image--13 {
  background-image: url("../img/kandinskiy.png");
}

.select-dropdown-image--13:active {
  background-image: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/kandinskiy.png");
}

.select-dropdown-image--14 {
  background-image: url("../img/marinetty.png");
}

.select-dropdown-image--14:active {
  background-image: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/marinetty.png");
}

.select-dropdown-image--15 {
  background-image: url("../img/malevich.png");
}

.select-dropdown-image--15:active {
  background-image: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/malevich.png");
}

.select-dropdown-image--16 {
  background-image: url("../img/picasso.png");
}

.select-dropdown-image--16:active {
  background-image: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/picasso.png");
}

.select-dropdown-image--17 {
  background-image: url("../img/karra.png");
}

.select-dropdown-image--17:active {
  background-image: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/karra.png");
}

.select-dropdown-image--18 {
  background-image: url("../img/pratella.png");
}

.select-dropdown-image--18:active {
  background-image: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/pratella.png");
}

.select-dropdown-image--19 {
  background-image: url("../img/severini.png");
}

.select-dropdown-image--19:active {
  background-image: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/severini.png");
}

.select-dropdown-image--20 {
  background-image: url("../img/balla.png");
}

.select-dropdown-image--20:active {
  background-image: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/balla.png");
}

/* Скролл */
.submenu__scrollbar {
  height: 220px;
}

.simplebar-track.simplebar-vertical {
  background: black;
  top: 0;
  width: 2px;
}

.simplebar-scrollbar {
  background-color: var(--white-color);
}

.simplebar-track.simplebar-vertical {
  right: -19px;
}

/* Поиск меню */
.submenu__search {
  display: flex;
  align-items: end;
  width: 15.6%;
}

.submenu__search svg {
  margin-right: 10px;
}

.submenu__input {
  padding: 3px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--border-color-input);
  font-size: 18px;
  line-height: 20px;
  color: var(--border-color-input);
  background: transparent;
  cursor: pointer;
  transition: border-bottom-color 0.2s;
}

.submenu__input:hover {
  border-bottom-color: var(--violet-medium-color);
}

.submenu__input:focus {
  outline: none;
  border-bottom-color: var(--violet-medium-color);
}

.submenu__input:active {
  border-bottom-color: var(--violet-color);
}

.submenu__input::placeholder {
  font-size: 18px;
  line-height: 25px;
  color: var(--border-color-input);
}

.submenu__input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.submenu__input:focus::-moz-placeholder {
  opacity: 0;
}

.submenu__input:focus:-moz-placeholder {
  opacity: 0;
}

.submenu__input:focus:-ms-input-placeholder {
  opacity: 0;
}

/* Swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide-hero {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.swiper-slide--1 {
  background-image: url("../img/hero-1.jpg");
}

.swiper-slide--2 {
  background-image: url("../img/hero-2.jpg");
}

.swiper-slide--3 {
  background-image: url("../img/hero-3.jpg");
}

/* Блок hero */
.hero {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 800px;
  z-index: 100;
}

.hero__swiper {
  position: relative;
}

.hero__container {
  padding-top: 234px;
  padding-bottom: 100px;
}

.slide-content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.slide-content__title {
  margin-bottom: -3px;
  max-width: 600px;
}

.slide-content__text {
  margin: 0;
  margin-bottom: 91px;
  max-width: 550px;
  font-weight: 700;
  font-size: 18px;
  line-height: 167%;
}

/* Модификаторы */
.btn--purple {
  padding: 20px 33px;
  border: 3px solid transparent;
  border-radius: 100px;
  background-color: #9d5cd0;
  transition: border 0.2s, background-color 0.2s, outline 0.2s;
}

.btn--purple:focus {
  border: 3px solid transparent;
  outline-offset: 5px;
  outline: 2px solid var(--violet-medium-color);
}

.btn--purple:hover {
  border: 3px solid var(--violet-light-color);
}

.btn--purple:active {
  border: 3px solid var(--violet-light-color);
  outline: none;
  background-color: var(--violet-color);
}

/* About us */
.about-us {
  padding-top: 710px;
  padding-bottom: 70px;
}

.about-us__title {
  margin-bottom: 16px;
}

.about-us__text {
  margin: 0;
  max-width: 1080px;
  font-size: 16px;
  line-height: 200%;
  color: var(--black-light-color);
}

/* Gallery */
.gallery {
  background-image: url("../img/gallery-background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.gallery__container {
  display: flex;
  justify-content: space-between;
  padding-top: 81px;
  padding-bottom: 77px;
  height: 595px;
}

.gallery__form {
  width: 25%;
}

.gallery__select {
  margin-bottom: 176px;
}

.gallery__title {
  margin-bottom: 16px;
  color: var(--white-color);
}

.genre {
  display: inline-block;
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 200%;
}

/* Choises lib */
.choices[data-type*="select-one"] {
  width: 100%;
}

.choices[data-type*="select-one"] .choices__inner {
  padding: 2px 6px 0 12px;
  min-height: 40px;
  border: 1px solid var(--white-color);
  border-radius: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--white-color);
  background-color: transparent;
  transition: background-color 0.2s;
}

.choices[data-type*="select-one"]:hover .choices__inner {
  background-color: var(--background-color-select);
}

.choices[data-type*="select-one"]:focus .choices__inner {
  background-color: var(--background-color-select);
}

.choices[data-type*="select-one"].is-open .choices__inner {
  background-color: transparent;
}

.choices__placeholder {
  opacity: 1;
}

.choices__list--single {
  padding: 1px 16px 1px 4px;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  border: 1px solid var(--grey-color);
  border-radius: 6px;
  background-color: transparent;
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  opacity: 0.5;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background: var(--background-color-select);
  opacity: 1;
}

.choices__list--dropdown .choices__item:first-child,
.choices__list[aria-expanded] .choices__item:first-child {
  display: none;
}

.choices[data-type*="select-one"]::after {
  position: absolute;
  right: 16px;
  top: 44%;
  height: 8px;
  width: 8px;
  border-width: 1px;
  border-color: white white transparent transparent;
  transform: rotate(135deg);
  transition: transform 0.2s, top 0.2s, border-color 0.2s;
}

.choices[data-type*="select-one"].is-open::after {
  border-color: white white transparent transparent;
  top: 65%;
  transform: rotate(-45deg);
}

/* Checkbox gallery */
.gallery__checkbox {
  outline: none;
}

.form-checkbox__label {
  position: relative;
  padding-left: 20px;
  font-size: 16px;
  line-height: 200%;
  color: var(--white-color);
  cursor: pointer;
  transition: color 0.2s;
}

.form-checkbox__input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.form-checkbox__input + .form-checkbox__custom-input {
  position: absolute;
  top: 5px;
  left: 0px;
  width: 12px;
  height: 12px;
  border: 1px solid var(--white-color);
  transition: border-color 0.2s;
}

.form-checkbox__label:focus {
  color: var(--violet-medium-color);
}

.form-checkbox__label:focus .form-checkbox__custom-input {
  border-color: var(--violet-medium-color);
}

.form-checkbox__label:hover .form-checkbox__custom-input {
  border-color: var(--violet-medium-color);
}

.form-checkbox__label:active {
  color: var(--violet-medium-color);
}

.form-checkbox__label:active .form-checkbox__custom-input {
  border-color: var(--violet-medium-color);
}

.form-checkbox__input + .form-checkbox__custom-input::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../img/checkbox.svg") no-repeat center;
  opacity: 0;
  transition: opacity 0.2s;
}

.form-checkbox__input:checked + .form-checkbox__custom-input::before {
  opacity: 1;
}

/* Слайдер */
.gallery__slider {
  width: 72%;
}

.swiper-slide-gallery {
  display: flex;
  align-items: flex-end;
}

.swiper-picture {
  position: relative;
  cursor: pointer;
}

.swiper-picture::after {
  position: absolute;
  content: "";
  top: 7%;
  left: 7%;
  width: 85%;
  height: 85%;
  background-image: url("../img/gallery-loop-2.png");
  opacity: 0;
  transition: opacity 0.4s;
}

.swiper-picture:hover::after {
  opacity: 1;
}

.swiper-picture::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 99%;
  top: 0;
  left: 0;
  transition: background-image 0.4s, border 0.4s;
}

.swiper-picture:active::before {
  background-image: linear-gradient(
    0deg,
    rgba(194, 131, 243, 0.4),
    rgba(194, 131, 243, 0.4)
  );
}

.swiper-picture:focus::before {
  border: 3px solid #7943a4;
}

.swiper-button-next,
.swiper-button-prev {
  top: 8.6%;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  left: 106px;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 6px;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: url("data:image/svg+xml; utf8, %3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 -1.01779e-06 15 -6.55671e-07C6.71573 -2.93554e-07 2.93554e-07 6.71573 6.55671e-07 15C1.01779e-06 23.2843 6.71573 30 15 30Z' fill='%23666666'/%3E%3Cpath d='M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 -1.01779e-06 15 -6.55671e-07C6.71573 -2.93554e-07 2.93554e-07 6.71573 6.55671e-07 15C1.01779e-06 23.2843 6.71573 30 15 30Z' stroke='transparent'/%3E%3Cpath d='M14 20L19 15L14 10' stroke='white'/%3E%3C/svg%3E");
}

.swiper-button-next:focus::after,
.swiper-rtl .swiper-button-prev:focus::after {
  content: url("data:image/svg+xml; utf8, %3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 -1.01779e-06 15 -6.55671e-07C6.71573 -2.93554e-07 2.93554e-07 6.71573 6.55671e-07 15C1.01779e-06 23.2843 6.71573 30 15 30Z' fill='%23666666'/%3E%3Cpath d='M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 -1.01779e-06 15 -6.55671e-07C6.71573 -2.93554e-07 2.93554e-07 6.71573 6.55671e-07 15C1.01779e-06 23.2843 6.71573 30 15 30Z' stroke='black'/%3E%3Cpath d='M14 20L19 15L14 10' stroke='white'/%3E%3C/svg%3E");
}

.swiper-button-next:hover::after,
.swiper-rtl .swiper-button-prev:hover::after {
  content: url("data:image/svg+xml; utf8, %3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 -1.01779e-06 15 -6.55671e-07C6.71573 -2.93554e-07 2.93554e-07 6.71573 6.55671e-07 15C1.01779e-06 23.2843 6.71573 30 15 30Z' fill='%239d5cd0'/%3E%3Cpath d='M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 -1.01779e-06 15 -6.55671e-07C6.71573 -2.93554e-07 2.93554e-07 6.71573 6.55671e-07 15C1.01779e-06 23.2843 6.71573 30 15 30Z' stroke='transparent'/%3E%3Cpath d='M14 20L19 15L14 10' stroke='white'/%3E%3C/svg%3E");
}

.swiper-button-next:active::after,
.swiper-rtl .swiper-button-prev:active::after {
  content: url("data:image/svg+xml; utf8, %3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 -1.01779e-06 15 -6.55671e-07C6.71573 -2.93554e-07 2.93554e-07 6.71573 6.55671e-07 15C1.01779e-06 23.2843 6.71573 30 15 30Z' fill='%237943a4'/%3E%3Cpath d='M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 -1.01779e-06 15 -6.55671e-07C6.71573 -2.93554e-07 2.93554e-07 6.71573 6.55671e-07 15C1.01779e-06 23.2843 6.71573 30 15 30Z' stroke='black'/%3E%3Cpath d='M14 20L19 15L14 10' stroke='white'/%3E%3C/svg%3E");
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-prev:after {
  content: url("data:image/svg+xml; utf8, %3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 30C6.71573 30 8.89561e-07 23.2843 1.25168e-06 15C1.61379e-06 6.71573 6.71573 -1.01779e-06 15 -6.55671e-07C23.2843 -2.93554e-07 30 6.71573 30 15C30 23.2843 23.2843 30 15 30Z' fill='%23666666'/%3E%3Cpath d='M15 30C6.71573 30 8.89561e-07 23.2843 1.25168e-06 15C1.61379e-06 6.71573 6.71573 -1.01779e-06 15 -6.55671e-07C23.2843 -2.93554e-07 30 6.71573 30 15C30 23.2843 23.2843 30 15 30Z' stroke='transparent'/%3E%3Cpath d='M16 20L11 15L16 10' stroke='white'/%3E%3C/svg%3E");
}

.swiper-button-prev:focus::after,
.swiper-rtl .swiper-button-prev:focus::after {
  content: url("data:image/svg+xml; utf8, %3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 30C6.71573 30 8.89561e-07 23.2843 1.25168e-06 15C1.61379e-06 6.71573 6.71573 -1.01779e-06 15 -6.55671e-07C23.2843 -2.93554e-07 30 6.71573 30 15C30 23.2843 23.2843 30 15 30Z' fill='%23666666'/%3E%3Cpath d='M15 30C6.71573 30 8.89561e-07 23.2843 1.25168e-06 15C1.61379e-06 6.71573 6.71573 -1.01779e-06 15 -6.55671e-07C23.2843 -2.93554e-07 30 6.71573 30 15C30 23.2843 23.2843 30 15 30Z' stroke='black'/%3E%3Cpath d='M16 20L11 15L16 10' stroke='white'/%3E%3C/svg%3E");
}

.swiper-button-prev:hover::after,
.swiper-rtl .swiper-button-prev:hover::after {
  content: url("data:image/svg+xml; utf8, %3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 30C6.71573 30 8.89561e-07 23.2843 1.25168e-06 15C1.61379e-06 6.71573 6.71573 -1.01779e-06 15 -6.55671e-07C23.2843 -2.93554e-07 30 6.71573 30 15C30 23.2843 23.2843 30 15 30Z' fill='%239d5cd0'/%3E%3Cpath d='M15 30C6.71573 30 8.89561e-07 23.2843 1.25168e-06 15C1.61379e-06 6.71573 6.71573 -1.01779e-06 15 -6.55671e-07C23.2843 -2.93554e-07 30 6.71573 30 15C30 23.2843 23.2843 30 15 30Z' stroke='transparent'/%3E%3Cpath d='M16 20L11 15L16 10' stroke='white'/%3E%3C/svg%3E");
}

.swiper-button-prev:active::after,
.swiper-rtl .swiper-button-prev:active::after {
  content: url("data:image/svg+xml; utf8, %3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 30C6.71573 30 8.89561e-07 23.2843 1.25168e-06 15C1.61379e-06 6.71573 6.71573 -1.01779e-06 15 -6.55671e-07C23.2843 -2.93554e-07 30 6.71573 30 15C30 23.2843 23.2843 30 15 30Z' fill='%237943a4'/%3E%3Cpath d='M15 30C6.71573 30 8.89561e-07 23.2843 1.25168e-06 15C1.61379e-06 6.71573 6.71573 -1.01779e-06 15 -6.55671e-07C23.2843 -2.93554e-07 30 6.71573 30 15C30 23.2843 23.2843 30 15 30Z' stroke='black'/%3E%3Cpath d='M16 20L11 15L16 10' stroke='white'/%3E%3C/svg%3E");
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  top: 30px;
  width: 12%;
}
